/* break point*/
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

/* Setting Variables : Font Family */
$primary-kr: 'Noto Sans KR', sans-serif;

/* Setting Variables : Text Color */
$dark-black: #333333;
$silver-black: #777777;
$light-black: #999999;
$dark-gray: #BDBDBD;
$silver-gray: #EEEEEE;
$light-gray: #F5F5F5;

/* Setting Variables : Object Color */
$royalblue: #006BE5;
$white: #FFFFFF;
$black: #000000;